header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f0f0f0; 
    padding: 30px 40px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  }
  
  .header-logo {
    font-size: 25px;
    font-weight: bold;
    color: #333;
  }

  header a {
    text-decoration: none;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0; /* Enlève le margin par défaut */
    display: flex;
  }

  
  nav ul li {
    margin-left: 20px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 18px;
    padding: 5px 10px; /* Ajout de padding pour un meilleur effet visuel */
    position: relative;
    transition: color 0.3s;
  }
  
  nav ul li a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 50%;
    background-color: #007BFF; 
    transition: width 0.3s, left 0.3s;
  }
  
  nav ul li a:hover::after {
    width: 100%;
    left: 0;
  }
  
  nav ul li a:hover {
    color: #007BFF; 
  }
  
  .header-nav {
    display: flex;
    align-items: center;
  }
  
  .menu-toggle {
    display: none; /* Masquer le bouton du menu mobile par défaut */
  }
  
  /* Afficher le menu déroulant mobile lorsqu'il est ouvert */
  .header-nav.open .header-menu {
    display: none;
  }
  
  .header-nav.open .modal {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f0f0f0;
    width: 100%;
  }
  
  .modal-menu {
    list-style: none;
    padding: 0;
    margin: 0; /* Enlève le margin par défaut */
  }
  
  .modal-menu li {
    margin-left: 20px;
  }
  
  .modal-menu li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 18px;
    padding: 15px 20px; /* Ajuster le padding pour une meilleure expérience tactile */
    display: block;
  }
  
  .modal-menu li a:hover {
    color: #007BFF; 
  }
  
  /* Afficher le bouton du menu mobile */
  @media (max-width: 768px) {
    .menu-toggle {
      display: block;
      cursor: pointer;
      padding: 10px;
      background: none;
      border: none;
    }
  
    .menu-toggle span {
      display: block;
      width: 25px;
      height: 3px;
      background-color: #333;
      margin-bottom: 5px;
    }

    .header-menu {
      display: none;
    }
  }